.table {
  width: 80dvw;
  height: 70dvh;
  border-radius: 50%;
  position: relative;
  background-image: url("/table.jpg");
  background-size: cover;
  background-position: center;
}
.waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}
.countdown {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: white;
}
.player-cards {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}
.seat1 {
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.seat2 {
  top: 5%;
  right: -20px;
}

.seat3 {
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

.seat4 {
  bottom: 10%;
  right: -25px;
}

.seat5 {
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.seat6 {
  bottom: 10%;
  left: -25px;
}

.seat7 {
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}

.seat8 {
  top: 10%;
  left: -25px;
}
