.table {
  width: 80dvw;
  height: 60dvh;
  border-radius: 45%;
  position: relative;
  background-image: url("/table.jpg");
  background-size: cover;
  background-position: center;
}
.waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: white;
}
.countdown {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: white;
}
.spectating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: white;
}
.player-cards {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
